<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" args="0 0 0 0 0 0 map world 100" />

  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find pcpred)/launch/rviz/test_gvv.rviz" output="screen" />
</launch>
